<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>My User List</ion-title>
    <ion-buttons slot="primary">
      <ion-button href="/users/newuser">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Active Users</p>
  <ion-button href="users/detail/Kamen">User 'Kamen'</ion-button><hr>
  <ion-button href="users/detail/Mike">User 'Mike'</ion-button>
</ion-content>

<ion-footer class="ion-padding">
  <p>My Footer</p>
</ion-footer>